{
  "name": "sidney-discord-ai-bot",
  "main": "worker.js",
  "compatibility_date": "2026-07-01",
  "compatibility_flags": ["nodejs_compat"],
  "vars": {
    "APP_VERSION": "4.3.15",
    "SECT_NAME": "☯【仙遊者】☯",
    "SECT_MASTER_ID": "1179245490081103994",
	"APPLICATION_REVIEW_CHANNEL_ID": "1533875614568812605",
	"MASTER_ADMIN_CHANNEL_ID": "1534238116099919933",
	"DISCORD_RESIDENT_ROLE_ID": "1534184274624909474",
	"DISCORD_DISCIPLE_ROLE_ID": "1512261196449841224",
	"DISCORD_ELDER_ROLE_ID": "1533885265700061298",
	"REDEEM_CODE_CHANNEL_ID": "1531897588687704116",
    "GEMINI_MODEL": "gemini-3.5-flash-lite",
    "GEMINI_FALLBACK_MODELS": "gemini-3.5-flash",
    "GEMINI_MAX_OUTPUT_TOKENS": "1600",
    "GEMINI_TIMEOUT_MS": "45000",
    "GEMINI_MAX_RETRIES": "2"
  },
  "kv_namespaces": [
    {
      "binding": "BOT_MEMORY",
      "id": "cf0fce4929484ce689b8c9af9abe4aaf"
    }
  ]
}
